<h2>ax + b = 0</h2>

<form action="" method="post">
    <h3>Введите параметры уравнения:</h3>
    <p class="field">
        a = <input type="number" name="a">
    </p>
    <p class="field">
        b = <input type="number" name="b">
    </p>
    <p class="submit">
        <input type="submit" value="Решить уравнение">
    </p>
</form>