<h1>Система решения математических уравнений.</h1>

<form action="" method="post">
    <h3>Тип уравнения</h3>
    <input type="radio" name="type" value="linear" checked> Линейное
    <input type="radio" name="type" value="quadratic"> Квадратное
</form>

<%= render "linear_form" %>
<%= render "quadratic_form" %>
<%= render "result" %>