<%= render 'user_form' %>

<h1>Система решения математических уравнений.</h1>

<form action="/arguments" method="post">
    <h3>Выберите тип уравнения:</h3>
    <input type="radio" name="type" value="Linear" checked> Линейное
    <input type="radio" name="type" value="Quadratic"> Квадратное
    <p>
        <input type="submit" value="Выбрать">
    </p>
</form>