<h1>Система решения математических уравнений.</h1>

<form action='/equation' method="post">
    <h3>Выберите тип уравнения:</h3>
    <input type="radio" name="type" value="0" checked> Линейное
    <input type="radio" name="type" value="1"> Квадратное
    <p>
        <input type="submit" value="Выбрать">
    </p>
</form>